html, body {
    /*background: url("/img/Gratzi-infinity.svg") no-repeat;*/
    font-size: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

input[type='text'], input[type='number'], input[type='email'], textarea, select {
    font-size: 16px;
}

h1, h2, h3 {
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Life Savers', sans-serif;
    text-align: center;
    font-size: 70px !important;
    line-height: 1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

h2 {

    line-height: 25px;
    font-size: 23px;
}

p {
    line-height: 1.6;
}

a {
    /*color: #461973;*/
}

.center {
    text-align: center;
}

.clearfix {
    clear: both;
}

.tight {
    letter-spacing: -6px;
}

.italics {
font-style: italic;
    font-weight: bold;
}

.btn {
    /*font-size: 22px;*/
    /*padding: 10px 10px;*/
    /*margin-bottom: 20px;*/
}


#header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

#header .row {
    padding: 3px 15px;
}

#header #home {
    text-decoration: none;
}

#header #homeButton {
    width: 60px;

}

#header #homelink {
    font-size: 19pt !important;
    text-shadow: 0 1px 1px rgba(0,0,0,1);
    color: #000;
    display: inline;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

#logoBig {
    max-width: 400px;
    width: 100%;
    z-index: -1;
}

.nav {
    margin: 2px 10px;

}

.logo-text {
    font-family: 'Life Savers', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
/*    */
}

.logo-text-inline {
    font-family: 'Life Savers', sans-serif;
    font-weight: 700;
}

.navbar-inner {
/*    -webkit-border-radius: initial;
    border-radius: initial;*/
    box-shadow: 0 2px 4px #461973;
}

.navbar-text {
    font-weight: bold;
    margin-right: 10px;
}

#content {
    min-height: 700px;
    margin-top: 60px;
}

#gMessage {
    width: 90%;
}

.gMessage {
    width: 75%;
}

.greyBox {
    background-color: #fafafa;
    text-align: center;
    padding: 10px;
}


/* Container
-------------------------------------------------- */

.container {
    margin: 0 auto;
}

.container .name {
    word-wrap: break-word;
    font-size: 30px;
    font-weight: bold;
}

.container .message {
    word-wrap: break-word;
    font-size: 18px;
    line-height: 20px;
    clear: both;
 /*   width: 90%;*/
}

.container .email {

}

.container .gtop {
    position: relative;
    top: -300px;
}

.container .up {
    position: relative;
    top: -80px;
}

.container #submit {
    margin-top: 20px;
}

.container #form #form-actions {
    margin-top: 10px;
}

.container .tagline {
    font-size: 23px;
    text-align: center;
    position: relative;
    left: 7px;
}



/*HOME
--------------------------------------------------*/
.home {
    text-align: center;
    color: #000;
    position: relative;
    top: -20px;
}

.home h1 {
    font-size-adjust: 0.71;
    font-weight: bold;
    font-style: normal;
    font-size: 50px !important;
    line-height: 1.2;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);

}

.home h2 {
    font-size: 40px;
    line-height: 1.2;
}

.home h3 {
   line-height: 30px;
}

.home .lead {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.home .signup {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 10px;
}

.home .btn {
    width: 180px;
}

.home .about {
    margin-top: 0px;
    font-weight: bold;
}

.home #mc_embed_signup {
    margin-top: 50px;
}

#mc_embed_signup .email {
    height: 40px;
    max-width: 220px;
    text-align: center;

}

.home .logo-text {
    font-size: 45px;
}


.home #tagline {
    margin-bottom: 20px;
    font-size: 25px;
}

.home .band {
    background: url("../img/pbnj-orig.jpg") no-repeat;
    height: 550px;
    background-position:center;
    background-size: 100%;
    padding-top: 100px;
    position: relative;
}

.home .band .bottom {
    position: absolute;
    bottom: 0;

}



/*ABOUT
--------------------------------------------------*/

.about h1 {
    font-size: 60px !important;
    line-height: 1.1;
    margin-bottom: 10px;
}

.about h2 {

}

/*LIST
--------------------------------------------------*/
.list .pad {
    margin-bottom: 130px;
    margin-top: 40px;
}

.list #reload {
    position: relative;
    top: -5px;
    padding: 5px;
}

/* Listitem
-------------------------------------------------- */
.listitem {
}

.listitem .gup {

}

.listitem .zup {
    position: relative;
    top: -100px;
    left: -5px;
}

.listitem .gImage, .zImage {
    max-height: 200px;
    max-width: 200px;
}

.listitem .gImage {
    border: 5px solid #77C4F3;
    float: right;
    min-height: 200px;
    min-width: 200px;
}

.listitem .zLine {
    border-bottom: 5px solid #7D6CB0;
    border-left: 5px solid #7D6CB0;
    border-radius: 10px;
    position: relative;
    left: -115px;
    width: 140%;
    z-index: -1;
}

.listitem .gDetails {
    border-bottom: 5px solid #77C4F3;
    border-left: 5px solid #77C4F3;
    border-radius: 7px;
    z-index: -1;
    position: relative;
    min-height: 45px;
    padding-left: 105px;
}

.listitem .gName {
    margin: 10px 0 5px;
}

.listitem .gMessage {
}

.listitem .gTags {
}

.listitem .zDetails {
    text-align: right;

}

.listitem .zName {
    margin: 10px 0 5px;
}

.listitem .zMessage {
}

.listitem .zTags {
}

.listitem .zImage {
    border: 5px solid #7D6CB0;
    min-height: 200px;
    min-width: 200px;
    background-color: #fff;
}

.listitem .shadow img {
    width: 100%;
    position: relative;
    top: -150px;
}

/* Create
-------------------------------------------------- */
.create {
}

.create .pad {
    margin-bottom: 100px;
}

.create .gup {
    position: relative;
    top: -40px;
    text-align: center;
    z-index: 1000;
}

.create .zup {
    position: relative;
    top: -130px;
    left: -5px;
}

.create #gImage, #zImage {
    max-height: 200px;
    max-width: 200px;
}

.create #zImage {
    border: 7px solid #7D6CB0;
    min-height: 200px;
    min-width: 200px;
}

.create #imgProfImg {
    border: 7px solid #77C4F3;
    float: right;
    min-height: 200px;
    min-width: 200px;
    background-color: #fff;
}

.create #gDetails {
    border-bottom: 7px solid #77C4F3;
    border-left: 7px solid #77C4F3;
    position: relative;
    min-height: 45px;
    padding-left: 90px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.create #pickFriend {
    padding-top: 20px;
}

.create #pickFriend #to {
    width: 45%;
}

.create #pickFriend #or {
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
}

.create #pickFriend #pickfbContact {
    padding: 4px 8px;
    position: relative;
    top: -5px;
    width: 40%;
}

.create #zLine {
    /*border-bottom: 10px solid #7D6CB0;
    border-left: 10px solid #7D6CB0;*/
    position: relative;
    left: -90px;
    width: 135%;
}

.create #gName {
    margin: 10px 0 5px;
}


.create #zName {
    margin: 20px 0 5px;
}

.create #zDetails {

}

.create #submit {
    margin-top: 60px;
}

.create #gMessage,#gTags,#imgGratImg,#zImage,#imgProfImg:hover {
    cursor: pointer;
}

.create #message, .create #tags{
    width: 90%;
}



/* Reply
-------------------------------------------------- */
.reply {
}

.reply .pad {
    margin-bottom: 100px;
}

.reply .gup {
    position: relative;
    top: -40px;
}

.reply .zup {
    position: relative;
    top: -40px;
    left: -5px;
    text-align: center;
}

.reply #gImage, #zImage {
    max-height: 200px;
    max-width: 200px;
}

.reply #gImage {
    border: 5px solid #77C4F3;
    float: right;
    min-height: 200px;
    min-width: 200px;
    background-color: #fff;
}

.reply #imgProfImg {
    border: 5px solid #7D6CB0;
    min-height: 200px;
    min-width: 200px;
    background-color: #fff;
}

.reply #gDetails {
    border-bottom: 5px solid #77C4F3;
    border-left: 5px solid #77C4F3;
    z-index: -1;
    position: relative;
    min-height: 45px;
    padding-left: 75px;
    padding-bottom: 50px;
    border-radius: 7px;

}



.reply #zLine {
    border-bottom: 5px solid #7D6CB0;
    border-left: 5px solid #7D6CB0;
    position: relative;
    left: -90px;
    width: 135%;
    z-index: -1;
    border-radius: 10px;
}

.reply #gName {
    margin: 10px 0 5px;
}

.reply #zName {

}

.reply #zDetails {
    text-align: right;
    position: relative;
    margin: 20px 0 5px;
}





/* Profile
-------------------------------------------------- */
.profile #imgProf {
    border: 5px solid #7D6CB0;

}

/*LOGIN
---------------------------------------------------*/

.profile #betaCode {
    height: 40px;
    max-width: 220px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}


.profile .band {
    background-color: #fcfcfc;
    padding-top: 100px;
    height: 300px;
}

.profile #mc-embedded-subscribe, #betaCode-submit {

    width: 190px;
}
.border-right {
    border-right: 1px solid #b3b3b3;
}


/* Footer
-------------------------------------------------- */

.footer {
    text-align: center;
    padding: 30px 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}



@media only screen and (max-width: 700px), only screen and (max-device-width: 600px) {

   .create #submit {
       position: relative;
       top: 170px;
   }

    .create .zup {
        top: -95px;
        left: 32px;
    }

    .reply .zup {
        top: 0px;
    }

    .reply #gImage {
        float:none;
    }

    .reply .gup {
        text-align: center;
        top: 0px;
    }

    .reply #gDetails {
        padding-bottom: 0px;
    }

    .reply #gImage, .reply #zImage {
        max-width: 100%;
        max-height: 100%;
    }

    .listitem .zup {
        top: 0px;
        left: 0px;
        text-align: center;
    }

    .listitem .gImage {
        float:none;

    }

    .listitem .gup {
        text-align: center;
    }

}