html, body {
    /*background: url("/img/gratzi-infinity.svg") no-repeat;*/
    font-size: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

input[type='text'], input[type='number'], input[type='email'], textarea, select {
    font-size: 16px;
}

h1, h2, h3 {
    padding: 0;
    font-size-adjust: 0.71;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Life Savers', sans-serif;
    text-align: center;
    font-size: 70px !important;
    line-height: 1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

h2 {

    line-height: 25px;
}

p {
    line-height: 1.6;
}

a {
    /*color: #461973;*/
}

.center {
    text-align: center;
}

.clearfix {
    clear: both;
}

.tight {
    letter-spacing: -6px;
}

.italics {
font-style: italic;
    font-weight: bold;
}

.btn {
    /*font-size: 22px;*/
    /*padding: 10px 10px;*/
    /*margin-bottom: 20px;*/
}


#header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

#header .row {
    padding: 3px 15px;
}

#header #homeButton {
    width: 60px;
    vertical-align: top;
}

#header h1 {
    font-size-adjust: 0.71;
    font-size: 28px !important;
    text-shadow: 0 1px 1px rgba(0,0,0,1);
    color: #000;
    display: inline;
    margin-left: 10px;
}

#logoBig {
    max-width: 400px;
    width: 100%;
    z-index: -1;
}

.nav {
    margin: 2px 10px;

}

.logo-text {
    font-family: 'Life Savers', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
/*    font-weight: bold;*/
}


.navbar-inner {
    -webkit-border-radius: initial;
    border-radius: initial;
    box-shadow: 0 2px 4px #461973;
}

.navbar-text {
    font-weight: bold;
    margin-right: 10px;
}

#content {
    min-height: 700px;
    margin-top: 60px;
}

/* Container
-------------------------------------------------- */

.container {
    margin: 0 auto;
}

.container .name {
    word-wrap: break-word;
    font-size: 30px;
    font-weight: bold;
}

.container .message {
    word-wrap: break-word;
    font-size: 18px;
    line-height: 20px;
    clear: both;
    width: 90%;
}

.container .email {

}

.container .gtop {
    position: relative;
    top: -300px;
}

.container #submit {
    margin-top: 20px;
}

.container #form #form-actions {
    margin-top: 10px;
}

.container .tagline {
    font-size: 25px;
    text-align: center;
    position: relative;
    left: 7px;
}



/*HOME
--------------------------------------------------*/
.home {
    text-align: center;
    color: #000;
    position: relative;
    top: -20px;
}

.home h1 {
    font-size-adjust: 0.71;
    font-weight: bold;
    font-style: normal;
    font-size: 50px !important;
    line-height: 1.2;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);

}

.home h2 {
    font-size: 40px;
    line-height: 1.2;
}

.home h3 {
   line-height: 30px;
}

.home .lead {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.home .signup {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 10px;
}

.home .btn {
    width: 180px;
}

.home .about {
    margin-top: 0px;
    font-weight: bold;
}

.home #mc_embed_signup {
    margin-top: 50px;
}

#mc_embed_signup .email {
    height: 40px;
    max-width: 220px;
    text-align: center;

}


.home #tagline {
    margin-bottom: 20px;
    font-size: 25px;
}

.home .band {
    background-color: #fcfcfc;
    padding: 20px;
    background: url("../img/pbnj-crop.gif") no-repeat;
    height: 550px;
    background-position:center;
    padding-top: 100px;
}
/*

.home .mb-wrap {
    padding: 20px;
    position: relative;
}

.home .mb-wrap p{
    margin: 0;
    padding: 0;
}

.home .mb-wrap blockquote {
    margin: 0;
    padding: 0;
    position: relative;
    border-left: 0;
}

.home .mb-wrap cite {
    font-style: normal;
}

.home .mb-style {

    margin-top: 100px;
    padding-top: 100px;
*/
/*    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);*//*


    border-radius: 50%;
}

.home .mb-style.grat{
    background: #fff;
    border-top: 10px solid #77C4F3;
    border-bottom: 10px solid #77C4F3;
}

.home .mb-style.zi{
    background: #fff;
    border-top: 10px solid #7D6CB0;
    border-bottom: 10px solid #7D6CB0;
}

.home .mb-style .mb-thumb {
    display: block;
    width: 180px;
    height: 180px;

    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -90px;
    margin: 0 0 0 -90px;
*/
/*    box-shadow:
        inset 1px 1px 4px rgba(0,0,0,0.5),
        0 2px 3px rgba(0,0,0,0.6);*//*

}

.home .mb-style .mb-thumb.becca{
    border: 10px solid rgba(119,196,243, 0.5);
     background: url(../img/becca-face-2.gif) no-repeat center center;
 }

.home .mb-style .mb-thumb.augustin{
    border: 10px solid rgba(125,108,176, 0.5);
    background: url(../img/aug-face.gif) no-repeat center center;
}

.home .mb-style blockquote:before {
    position: absolute;
    color: #242526;
    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
}

.home .mb-style blockquote:before{
    left: 10px;
    font-size: 70px;
*/
/*    content: '\275d';*//*

}


.home .mb-style blockquote p {
    font-family: Cambria, Georgia, serif;
    font-style: italic;
    padding: 10px 10px 20px 10px;
    text-align: center;
*/
/*    margin: 10px 0 20px 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);*//*

}

.home .mb-style.grat blockquote p {
    font-size: 45px;
    line-height: 61px;
}

.home .mb-style.zi blockquote p {
    font-size: 45px;
}

.home .mb-style .mb-attribution {
    text-align: right;
    width: 80%;
    border-top: 1px solid rgba(0,0,0,0.2);
    position: relative;
    left: -50px;
    top: -10px;
    float: right;
}

.home .mb-style .mb-author{
    font-size: 20px;
    color: #1b1c1d;
    text-shadow: 0 1px rgba(255,255,255,0.1);
    line-height: 25px;
    padding-right: 30px;
}

.home .mb-style cite{
    color: #1b1c1d;
    padding-right: 30px;
}
*/


/*ABOUT
--------------------------------------------------*/

.about h1 {
    font-size: 60px !important;
    line-height: 1.1;
    margin-bottom: 10px;
}

.about h2 {

}

/*LIST
--------------------------------------------------*/
.list .pad {
    margin-bottom: 130px;
    margin-top: 40px;
}

.list #reload {
    position: relative;
    top: -5px;
    padding: 5px;
}

/* Listitem
-------------------------------------------------- */
.listitem {
}

.listitem .gup {
    position: relative;
    top: -40px;
}

.listitem .zup {
    position: relative;
    top: -180px;
    left: -5px;
}

.listitem .gImage, .zImage {
    max-height: 200px;
}

.listitem .gImage {
    border: 5px solid #77C4F3;
    float: right;
    min-height: 200px;
    min-width: 200px;
}

.listitem .zLine {
    border-bottom: 5px solid #7D6CB0;
    border-left: 5px solid #7D6CB0;
    border-radius: 40px;
    position: relative;
    left: -115px;
    width: 140%;
    z-index: -1;
}

.listitem .gDetails {
    border-bottom: 5px solid #77C4F3;
    border-left: 5px solid #77C4F3;
    border-radius: 30px;
    padding-left: 15px;
    z-index: -1;
    position: relative;
    min-height: 45px;
    padding-left: 105px;
}

.listitem .gName {
    margin: 10px 0 5px;
}

.listitem .gMessage {
}

.listitem .gTags {
}

.listitem .gImage {
    border: 5px solid #77C4F3;
    float: right;
    min-height: 200px;
    min-width: 200px;
}

.listitem .zDetails {
    text-align: right;
    width: 83%;
}

.listitem .zName {
    margin: 10px 0 5px;
}

.listitem .zMessage {
}

.listitem .zTags {
}

.listitem .zImage {
    border: 5px solid #7D6CB0;
    min-height: 200px;
    min-width: 200px;
}

.listitem .shadow img {
    width: 100%;
    position: relative;
    top: -150px;
}

/* Create
-------------------------------------------------- */
.create {
}

.create .pad {
    margin-bottom: 100px;
}

.create .gup {
    position: relative;
    top: -40px;
    text-align: center;
}

.create .zup {
    position: relative;
    top: -220px;
    left: -5px;
}

.create #gImage, #zImage {
    max-height: 200px;
}

.create #zImage {
    border: 7px solid #7D6CB0;
    min-height: 200px;
    min-width: 200px;
}

.create #gImage {
    border: 7px solid #77C4F3;
    float: right;
    min-height: 200px;
    min-width: 200px;
}

.create #gDetails {
    border-bottom: 5px solid #77C4F3;
    border-left: 5px solid #77C4F3;
    padding-left: 15px;
    z-index: -1;
    position: relative;
    min-height: 45px;
    padding-left: 90px;
}

.create #gForm {
}

.create #gForm #to {
    width: 45%;
}

.create #gForm #or {
    font-size: 20px/1.6;
    font-weight: bold;
    margin: 0 5px;
}

.create #gForm #pickfbContact {
    padding: 4px 8px;
    position: relative;
    top: -5px;
    width: 40%;
}

.create #zLine {
    /*border-bottom: 10px solid #7D6CB0;
    border-left: 10px solid #7D6CB0;*/
    position: relative;
    left: -90px;
    width: 135%;
    z-index: -1;
}

.create #gName {
    margin: 10px 0 5px;
}


.create #zName {
    margin: 20px 0 5px;
}

.create #zDetails {
    text-align: right;
}



/* Reply
-------------------------------------------------- */
.reply {
}

.reply .pad {
    margin-bottom: 100px;
}

.reply .gup {
    position: relative;
    top: -40px;
}

.reply .zup {
    position: relative;
    top: -180px;
    left: -5px;
    text-align: center;
}

.reply #gImage, #zImage {
    max-height: 200px;
}

.reply #gImage {
    border: 5px solid #77C4F3;
    float: right;
    min-height: 200px;
    min-width: 200px;
}

.reply #zImage {
    border: 5px solid #7D6CB0;
    min-height: 200px;
    min-width: 200px;
}

.reply #gDetails {
    border-bottom: 5px solid #77C4F3;
    border-left: 5px solid #77C4F3;
    padding-left: 15px;
    z-index: -1;
    position: relative;
    min-height: 45px;
    padding-left: 75px;
}

.reply #gForm {
}

.reply #gForm #to {
    width: 45%;
}

.reply #gForm #or {
    font-size: 20px/1.6;
    font-weight: bold;
    margin: 0 5px;
}

.reply #gForm #pickfbContact {
    padding: 4px 8px;
    position: relative;
    top: -5px;
    width: 40%;
}

.reply #zLine {
    border-bottom: 5px solid #7D6CB0;
    border-left: 5px solid #7D6CB0;
    position: relative;
    left: -90px;
    width: 135%;
    z-index: -1;
}

.reply #gName {
    margin: 10px 0 5px;
}

.reply #zName {
    margin: 20px 0 5px;
}

.reply #zDetails {
    text-align: right;
    position: relative;
}





/* Profile
-------------------------------------------------- */
.profile #imgProf {
    border: 5px solid #7D6CB0;

}

/*LOGIN
---------------------------------------------------*/

.profile #betaCode {
    height: 40px;
    max-width: 220px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}


.profile .band {
    background-color: #fcfcfc;
    padding-top: 100px;
    height: 300px;
}

.profile #mc-embedded-subscribe, #betaCode-submit {

    width: 190px;
}
.border-right {
    border-right: 1px solid #b3b3b3;
}


/* Footer
-------------------------------------------------- */

.footer {
    text-align: center;
    padding: 30px 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}
