<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/2.3.0"
        id          = "org.datacosmos.gratzi"
        versionCode = "10"
        version     = "2.3.0">
 
    <name>Gratzi</name>
 
    <description>
      Send a digital, signed thank you.
    </description>
 
    <author href="http://datacosmos.com" email="augustin@datacosmos.com">
        Augustin Bralley
    </author>

    <preference name="phonegap-version" value="2.3.0" />
 
    <feature name="http://api.phonegap.com/2.3.0/contacts"/>
    <feature name="http://api.phonegap.com/2.3.0/geolocation"/>

 
</widget>