<div class="container create">

   <div class="pad">
      <h1>gratzi</h1>

      <p class="tagline">Complete gratitude.</p>
   </div>

   <div class="row">
      <div class="span3 gup">
         <img src="<%= profile.image %>" class="img-circle" id="imgProfImg" onclick="$('input[id=upProfImg]').click();"/>
         <input type="file" name="input_name" id="upProfImg" class="hide ie_show"/>
      </div>

      <div class="span6 middle">
         <div id="zLine">
            <div id="gDetails">
               <p class="name" id="gName"><%= profile.fullName %></p>
               <p class="message" id="gMessage"></p>
               <textarea id="message" name="message" rows="3" class="input-block-level"
                         placeholder="Thanks for all the fish!"/>
               <p class="tags" id="gTags"></p>
               <input type="text" id="tags" name="tags" class="input-block-level" placeholder="food, lifestyle"/>
               <img src="" class="" id="imgGratImg" onclick="$('input[id=upGratImg]').click();"/>
               <button id="btnGratImg" class="btn" onclick="$('input[id=upGratImg]').click();">Add Photo</button>
               <input type="file" name="input_name" id="upGratImg" class="inputFile ie_show"/>

                <!-- Add the input tag. Voila. -->
               <form method="post">
                <input type="framebase" name="my_video" id="my_video" record="true"/>
               </form>
            </div>
         </div>

         <div id="zDetails">
            <p class="name right" id="zName"></p>
            <div id="pickFriend">
               <input type="email" id="to" name="to" class="input-block-level" placeholder="email address"/>
               <span id="or">or</span>
               <input type="hidden" id="fbFriendId"/>
               <button id="pickfbContact" class="btn">Facebook</button>
            </div>
         </div>
      </div>

   </div>

   <div class="row">
      <div class="span6 offset3">
         <div id="submit">
            <button id="createBtn" class="btn btn-inverse btn-large btn-block">Send</button>
            <div id="info" class="hide text-success center"></div>
            <div id="fail" class="hide text-error center"></div>
         </div>
      </div>
      <div class="span3 zup">
         <img src="../img/blank-user.jpg" id="zImage" class="img-circle"/>
      </div>
   </div>

   <!-- Markup for These Days Friend Selector -->
   <div id="TDFriendSelector">
      <div class="TDFriendSelector_dialog">
         <a href="#" id="TDFriendSelector_buttonClose">x</a>

         <div class="TDFriendSelector_form">
            <div class="TDFriendSelector_header">
               <p>Select your friends</p>
            </div>
            <div class="TDFriendSelector_content">
               <p>Then you can invite them to join you in the app.</p>

               <div class="TDFriendSelector_searchContainer TDFriendSelector_clearfix">
                  <div class="TDFriendSelector_selectedCountContainer"><span
                        class="TDFriendSelector_selectedCount">0</span> / <span
                        class="TDFriendSelector_selectedCountMax">0</span> friends selected
                  </div>
                  <input type="text" placeholder="Search friends" id="TDFriendSelector_searchField"/>
               </div>
               <div class="TDFriendSelector_friendsContainer"></div>
            </div>
            <div class="TDFriendSelector_footer TDFriendSelector_clearfix">
               <a href="#" id="TDFriendSelector_pagePrev" class="TDFriendSelector_disabled">Previous</a>
               <a href="#" id="TDFriendSelector_pageNext">Next</a>

               <div class="TDFriendSelector_pageNumberContainer">
                  Page <span id="TDFriendSelector_pageNumber">1</span> / <span
                     id="TDFriendSelector_pageNumberTotal">1</span>
               </div>
               <a href="#" id="TDFriendSelector_buttonOK">OK</a>
            </div>
         </div>
      </div>
   </div>

</div>

