<!-- Footer
    ================================================== -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span12 center">
        <p>
          The source code for this application is available in <a href="<%= gitRepo %>">this
            repository</a> on GitHub.
        </p>

        <h4>Created by <%= createdBy %> © <%= year %></h4>
        <a href="<%= url %>"><%= url %></a>
      </div>
    </div>

    <ul class="footer-links">
      <li><a href="<%= createdByUrl %>">Blog</a></li>
      <li class="muted">&middot;</li>
      <li><a href="<%= gitRepo %>/issues">Issues</a></li>
    </ul>
  </div>
</footer>
