

  <div class="row">
    <a href="#" class="nav pull-left"><img src="/img/gratzi-infinity-no-grad.svg" alt="Gratzi Home" id="homeButton"></a>
    <ul class="nav nav-pills pull-left">
      <% if(localStorage.getItem('authenticated')) { %>
      <li id="create"><a href="#create">Create</a></li>
      <li id="view"><a href="#view">View</a></li>
      <% } %>
      <li id="about"><a href="#about">About</a></li>
    </ul>

    <% if(localStorage.getItem('authenticated')) { %>
    <p class="navbar-text pull-right">
      <% if(profile) { %>
        <a href="#profile" id="username"><%= profile.fullname %></a>
      <% } else { %>
        <a href="#profile" id="A1"><%= localStorage.getItem("username") %></a>
      <% } %>
        
    </p>
    <% } else { %>
    <!--<p class="navbar-text pull-right"><a href="#signin" id="login">Login</a></p>-->
    <% } %>

  </div>

