<p class="navbar-text pull-left"><a href="/#">Gratzi</a></p>
<% if(localStorage.getItem('authenticated')) { %>
    <p class="navbar-text pull-right">
      <% if(profile) { %>
        <a href="#profile" id="username"><%= profile.fullname %></a>
      <% } else { %>
        <a href="#profile" id="A1"><%= localStorage.getItem("username") %></a>
      <% } %>
        <a href="#" id="logout">Logout</a>
</p>
<% } else { %>
    <p class="navbar-text pull-right"><a href="#signin" id="login">Login</a></p>
<% } %>
