<div class="container list">

    <div class="pad">
        <h1>GRATZI</h1>
        <p class="tagline">Complete gratitude.</p>
    </div>

  <div class="row center">

      <select id="ddTags">
        <option>All Tags</option>
        <% for(var tag in tags){ %>
          <option><%=tags[tag]%></option>
        <% } %>
      </select>

      <button id="reload" class="body-button">Reload</button>

  </div>

</div>

<!--<div class="row">
  <div class="span4 offset2">
    <h1>Grat</h1>
  </div>
  <div class="span4 offset1">
    <h1>Zi</h1>
  </div>
</div>-->

