<h1>View</h1>

<div class="container">
  <div class="center">
    <div class="row">
      <% if(script) { %>

      <%=script%>
  
      <div class="span6">

        <div id="grat">
          <h1>Grat</h1>
          <div class="party">

            <h2 id="gFrom">
              <img src="" id="gImage" class="img-circle" /></h2>
<!--            <h2 id="gTo"></h2>-->
          </div>

          <div class="payload">
            <h3 id="gMessage"></h3>
            <h4 id="gTags"></h4>
          </div>
        </div>

        <div id="auth">
          Please login to view the Grat.
        </div>

      </div>

      <div class="span6">
        <div id="zi">

          <h1>Zi</h1>
          <div class="party">

            <h2 id="zFrom">
              <img src="" id="zImage" class="img-circle" /></h2>
<!--            <h2 id="zTo"></h2>-->
          </div>

          <div class="payload">
            <h3 id="zMessage"></h3>
            <h4 id="zTags"></h4>
          </div>

          <div id="sendForm" class="fields">
            <h2>Message</h2>
            <textarea id="response" name="response" rows="3" class="input-block-level" />

            <div id="submit" class="form-actions">
              <button id="sendBtn" class="btn btn-large btn-block btn-primary">Send</button>
            </div>
          </div>

          <div id="saveForm" class="form-actions">
            <button id="saveBtn" class="btn btn-large btn-block btn-primary">Save</button>
          </div>
          <div id="info" class="hide text-success center"></div>

        </div>
      </div>

      <% } else { %>
    
      <!--<div class="row">
        <div class="span6">
          <h2>Grat</h2>
        </div>
        <div class="span6">
          <h2>Zi</h2>
        </div>
      </div>-->
      <button id="reload" class="btn btn-block btn-primary">Reload</button>
      <div class="main_container">
        <%
        for(gz in gratzis){
        
          var id = gratzis[gz].gratid;
          var grat = gratzis[gz].grat;
          var zi = gratzis[gz].zi;
        %>
        <!--      <div class="gratzi row">
        <div class="grat span6">
          <a href="<%=gratzi.Client.url %>/#profile?grat=<%=id %>"></a>
        <h3>From</h3>
        <h2><%=grat.from.fullname %></h2>
        <p>
          <img src="<%=grat.from.image%>" />
        </p>
        <h2><%=grat.message %></h2>
        <h4><%=grat.tags %></h4>
      </div>

      <div class="zi span6">
        <h3><%=zi.from.fullname %></h3>
        <h3><%=zi.to.fullname %></h3>
        <h2><%=zi.message %></h2>
      </div>
    </div>
    -->

        <div class="pin">
          <div class="holder">
            <div class="actions" pin_id="gz">
              <a class="button">Share</a>
              <a class="button comment_tr">Comment</a>
            </div>
            <a class="image ajax" title="Photo <%=gz%>" pin_id="<%=gz%>">
              <img src="<%=grat.from.image%>" alt="<%=grat.from.fullname %>" />
              <p class="name"><%=grat.from.fullname %></p>
            </a>
          </div>
          <div class="grat">
            <p class="message"><%=grat.message %></p>
            <p class="tags"><%=grat.tags %></p>
          </div>
          <img src="/img/arrow_m01_down.png" class="arrow" />
          <div class="holder">
            <a class="image ajax" title="Photo <%=gz%>" pin_id="<%=gz%>">
              <img src="<%=zi.from.image%>" alt="<%=zi.from.fullname %>" />
              <p class="name"><%=zi.from.fullname %></p>
            </a>
          </div>
          <div class="zi">
            <p class="message"><%=zi.message %></p>
          </div>

          <form class="comment" method="post" action="" style="display: none">
            <input type="hidden" name="id" value="1" />
            <textarea placeholder="Add a comment..." maxlength="1000"></textarea>
            <button type="button" class="button">Comment</button>
          </form>
        </div>


        <% } %>
      </div>
      
      <% } %>
    </div>
  </div>
</div>
