<!--<h1>View</h1>-->

<div class="container">

  <div class="row top">
    <% if(script) { %>

      <%=script%>
  
      <div class="span5">
        <div id="grat">
          <h1>Grat</h1>
          <div class="party center">
            <div>
              <img src="" id="gImage" class="img-prof" />
            </div>
            <h2 id="gFrom"></h2>
          </div>

          <div class="payload center">
            <h3 id="gMessage"></h3>
            <h4 id="gTags"></h4>
          </div>
        </div>

        <div id="auth">
          Please login to view the Grat.
        </div>
      </div>

    <div class="span5 offset2">
      <div id="zi">

        <h1>Zi</h1>
        <div class="party center">
          <div>
            <img src="" id="zImage" class="img-prof" />
          </div>
          <h2 id="zFrom"></h2>
        </div>

        <div class="payload center">
          <h3 id="zMessage"></h3>
          <h4 id="zTags"></h4>
        </div>

        <div id="sendForm" class="fields">
          <h2 class="center">Reply</h2>
          <textarea id="response" name="response" rows="3" class="input-block-level" />

          <div id="submit">
            <button id="sendBtn" class="btn btn-large btn-block btn-inverse">Send</button>
          </div>
        </div>

        <div id="saveForm">
          <button id="saveBtn" class="btn btn-large btn-block btn-inverse">Save</button>
        </div>
        <div id="info" class="hide text-success center"></div>

      </div>
    </div>

    <% } else { %>
    
      <!--      <div class="row">
        <div class="span6">
          <h2>Grat</h2>
        </div>
        <div class="span6">
          <h2>Zi</h2>
        </div>
      </div>-->

    <div class="span12 center">
      <select id="tags" class="btn-inverse">
        <option>All Tags</option>
        <% for(tag in tags){ %>
          <option><%=tags[tag]%></option>
        <% } %>
      </select>
      <select id="types" class="btn-inverse">
        <option>All Types</option>
        <option>Sent</option>
        <option>Received</option>
      </select>
      <div class="main_container">
        <% 

        for(gz in gratzis){
        
          var id = gratzis[gz].gratid;
          var grat = gratzis[gz].grat;
          var zi = gratzis[gz].zi;
        %>

          <div class="pin center">
            <div class="holder">


              <div class="grat">

                <a class="image ajax" title="Photo <%=gz%>" pin_id="<%=gz%>">
                  <img src="<%=grat.from.image%>" alt="<%=grat.from.fullname %>" />
                </a>
                <p class="name"><%=grat.from.fullname %></p>
                <p class="message"><%=grat.message %></p>
                <p class="tags"><%=grat.tags %></p>
              </div>


            </div>
            <!--<form class="comment" method="post" action="" style="display: none">
              <input type="hidden" name="id" value="1" />
              <textarea placeholder="Add a comment..." maxlength="1000"></textarea>
              <button type="button" class="button">Comment</button>
            </form>-->

            <% if(zi.from.fullname) {%>
            <div class="actions" pin_id="gz">
              <div class="icon-chevron-down"></div>
            </div>

            <div class="zi" style="display: none">
              <a class="image ajax" title="Photo <%=zi%>" pin_id="<%=zi%>">
                <img src="<%=zi.from.image%>" alt="<%=zi.from.fullname %>" />
              </a>
              <p class="name"><%=zi.from.fullname %></p>
              <p class="message"><%=zi.message %></p>
            </div>
            <% } %>

          </div>


        <% } %>
      </div>
    </div>
    <!--<a id="reload"></a>-->
    <% } %>
  </div>
</div>
